<VMContext VM="MetadataForm" TState="IMetadataFormState" OnStateChange="UpdateState">
    <d-form>
        @if (hasProjectMetadata || hasDependencies)
        {
            <d-panel horizontal="true" css="margin-top:1.5rem">
                 <d-panel css="border-right:1px solid #aaa">
                    @if (hasProjectMetadata)
                    {
                        <h4>Project Metadata</h4>
                        <d-panel css="padding-right:1.5rem;max-height:calc(100vh - 360px);overflow:auto">
                            @foreach (var kvp in state.ProjectMetadata)
                            {
                                if (kvp.Key == InputType.Dropdown)
                                {
                                    <d-dropdown-list id="@kvp.Value" />
                                }
                                else if (kvp.Key == InputType.Radio)
                                {
                                    <d-radio-group id="@kvp.Value" />
                                }
                                else
                                {
                                    <d-text-field id="@kvp.Value" />
                                }
                            }
                        </d-panel>
                    }
                </d-panel>
                <d-panel css="margin-left:1.5rem">
                    @if (hasDependencies)
                    {
                        <h4>Dependencies</h4>
                        <d-panel css="max-height:calc(100vh - 360px);overflow:auto">
                            @foreach (var id in state.Dependencies)
                            {
                                <div>
                                    <d-checkbox id="@id" css="font-weight:500" />
                                    <d-element id="@id" css="padding-left:1.5rem;color:#666">
                                        <label slot="description"></label>
                                    </d-element>
                                </div>
                            }
                        </d-panel>
                    }
                </d-panel>
             </d-panel>
        }
    </d-form>
</VMContext>

@code {
   private IMetadataFormState state;
   private bool hasProjectMetadata;
   private bool hasDependencies;

   private void UpdateState(IMetadataFormState state)
   {
       this.state = state;
       this.hasProjectMetadata = state.ProjectMetadata.Count() > 0;
       this.hasDependencies = state.Dependencies.Count() > 0;
       StateHasChanged();
   }
}
